<div class="custom-add-to-cart-button">
    <form>
        <div class="quantity"><label>Qty</label>
            <div class="custom-cx-item-counter"><button type="button" disabled="" tabindex="-1" aria-label="Remove one"> -
                </button><input type="number" step="1" tabindex="0" aria-label="Quantity" min="1" max="267"
                    class="ng-untouched ng-pristine ng-valid"><button type="button" tabindex="0" aria-label="Add one more"> +
                </button></div>
            <!----><span class="info">
                <!----> In stock
            </span>
        </div>
        <button class="btn btn-primary btn-block">
            My custom Add to Cart Button
        </button>
    </form>
</div>

