<p>recently-bought works!</p>
<div class="container">
    <ul>
      <!-- <li *ngFor="let product of recentlyBought$ | async">
        <a [routerLink]="{ cxRoute: 'product', params: { code: '300938'}} | cxUrl">Product </a>
         <a [routerLink]="
              {
                 cxRoute:'product',
                  params:{
                   code:product.code,
                   firstCategoryName:product.firstCategoryName,
                   secondCategoryName:product.secondCategoryName,
                   manufacturerForUrl:product.manufacturerForUrl,
                   nameForUrl:product.nameForUrl
                }
              } | cxUrl
            "
           >{{product.name}}</a>
      </li> -->
    </ul>
</div>